{%extends 'index.html'%}

  {%block holder%}
    <!-- header -->
    <div class="container-fluid col-12 text-center m-0"
      style="background:url(../static/img/blog.jpg) fixed no-repeat; background-size: cover;background-position: center; height: 300px;">
      <h1 class="text text-dark" style="padding-top: 5%; font-size: 5rem; font-weight: bold;"> Book</h1>
    </div>
    {%endblock%}

    <!-- end header -->
    
    {%block content%}

<div class="container-fluid p-0"></div>



  </div>
  {%endblock%}


