<div class="card bg-dark mx-auto my-5 py-5" style="width: 550px; box-shadow: 0 0 20px white;" >
    <section class="" >
        <div class="container col-12" >
          <div class="row mx-auto">
            <div class="col-12 mx-auto my-4  text-black">
      
              <div class="d-flex align-items-center h-custom-2 mx-auto mt-3" style="width: 400px;">
      
                <form class="mx-auto" style="width: 23rem;">
      
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create Blog</h3>
      
                  <div class="form-outline mb-3">
                    <input type="text" placeholder="Title" id="blog-title" class="form-control bg-dark text-light form-control-lg" />
                  </div>
      
                  <div class="form-outline mb-3">
                    <div class="form-floating">
                        <textarea class="form-control bg-dark text-dark" placeholder="Blog Content" id="blog-content" style="height: 200px"></textarea>
                        <label for="floatingTextarea2">Content</label>
                      </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" placeholder="Author" id="blog-author" class="form-control bg-dark text-light form-control-lg" />
                      </div>
                    </div>
                  </div>
      
                  <div class="pt-1 mt-4 mb-4 text-start">
                    <button class="btn btn-outline-light btn-lg btn-block" type="button">Create Blog</button>
                  </div>
      
      
                </form>
      
              </div>
      
            </div>
           
          </div>
        </div>
      </section>
</div>