<div class="card bg-dark mx-auto my-5 py-5" style="width: 550px; box-shadow: 0 0 20px white;" >
    <section class="" >
        <div class="container col-12" >
          <div class="row mx-auto">
            <div class="col-12 mx-auto my-4  text-black">
      
              <div class="d-flex align-items-center h-custom-2 mx-auto mt-3" style="width: 400px;">
      
                <form class="mx-auto" style="width: 23rem;">
      
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Member Registration</h3>
      
                  <div class="form-outline mb-3">
                    <input type="email" placeholder="02200000.cst@rub.edu.bt" id="reg-email" class="form-control bg-dark text-light form-control-lg" />
                  </div>
      
                  <div class="form-outline mb-3">
                    <select class="form-select bg-dark text-light" id="reg-role" aria-label="Default select example">
                        <option selected>Role</option>
                        <option value="CR">Class Representative</option>
                        <option value="Staff">Staff</option>
                      </select>
                  </div>
                  <div class="row mb-3">
                    <select class="form-select bg-dark text-light mb-3 col-lg-3" id="reg-year" aria-label="Default select example">
                        <option selected>Year</option>
                        <option value="1">First Year</option>
                        <option value="2">Second Year</option>
                        <option value="3">Third Year</option>
                        <option value="4">Fourth Year</option>
                        <option value="5">Fifth Year</option>
                      </select>
                    <select class="form-select bg-dark text-light col-lg-3" id="reg-dept" aria-label="Default select example">
                        <option selected>Dept</option>
                        <option value="Arch">Arch</option>
                        <option value="CE">CE</option>
                        <option value="ECE">ECE</option>
                        <option value="EE">EE</option>
                        <option value="EE">EG</option>
                        <option value="ICE">ICE</option>
                        <option value="IT">IT</option>
                      </select>
                  </div>
      
                  <div class="pt-1 mt-4 mb-4">
                    <button class="btn btn-outline-light btn-lg btn-block" type="button">Register</button>
                  </div>
      
      
                </form>
      
              </div>
      
            </div>
           
          </div>
        </div>
      </section>
</div>